.git
.github
vendor
node_modules
.env
.env.backup
composer.phar
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
phpunit.xml
.editorconfig
.styleci.yml
docker-compose.yml
Dockerfile
docker-entrypoint.sh
.dockerignore
